<header>
  <h1 class="logo">Tom Studer</h1>

  <nav>
    <ul>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "help", help_path %></li>
      <li><%= link_to "home", root_path %></li>
    </ul>

  </nav>
</header>
